.cal1body {
    height: auto;
    margin-bottom: 0;
    font-family: Tahoma;
    background-color: #fff;
}

#months {
    margin: 2px 0 5px 0;
    width: 774px;
}

.month {
    margin-top: -1px;
    position: relative;
}

.element {
    transform: rotate(-90deg);
    transform-origin: top right;
    position: absolute;
    top: 1px;
    right: 14px;
    line-height: 9.75pt;
    font-size: 8.25pt;
    text-align: center;
}

.bm {
}

    .bm i {
        font-style: normal;
        padding-right: 2px;
        font-size: 6pt;
    }

.mGroup1 {
    background-color: rgb(255, 230, 230); /* fire of God */
}

.mGroup2 {
    background-color: rgb(250, 250, 250); /* air of eternity */
}

.mGroup3 {
    background-color: rgb(230, 230, 255); /* water of Divine Unity */
}

.mGroup4 {
    background-color: rgb(230, 255, 230); /* earth */
}

.element.mGroup1 {
    width: 80px;
    color: rgba(255, 0, 0, 0.6);
    z-index: 1;
}

.element.mGroup2 {
    width: 105px;
    color: rgba(100, 100, 100, .8);
    z-index: 2;
}

.element.mGroup3 {
    width: 158px;
    color: rgba(0, 0, 255, .6);
    z-index: 3;
}

.element.mGroup4 {
    width: 183px;
    color: rgba(0, 255, 0, 1);
    z-index: 4;
}


.bd, .gd {
    display: inline-block;
    width: 35.7px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.bd {
    border-left: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 0 0 1px 2px;
    font-size: 8.25pt;
    line-height: 7.5pt;
}

    .bd:hover {
        background-color: #b7f59a;
        cursor: pointer;
    }

    .bd b {
        font-weight: normal;
    }

    .bd.dow6 {
        border-left: 1px solid rgba(0,0,0,.6);
        border-bottom: 1px solid rgba(0,0,0,.6);
        /* saturday */
    }

        .bd.dow6 b {
            font-weight: bold;
        }

    .bd.selected {
        background-color: #77b55a;
        border: 1px solid #4b8f29;
    }

        .bd.selected b {
            color: #fff;
            font-weight: bold;
        }

.bmName {
    display: inline-block;
    width: 78px;
    margin-right: 3px;
    font-size: 9.75pt;
    line-height: 9.75pt;
    padding: 1px 0 1px 1px;
}

.bm.selected .bmName {
    background-color: #77b55a;
    color: #fff;
}

.gmInitial {
    width: 93px; /* bmName width + offset */
    padding-right: 2px;
    text-align: right;
    display: inline-block;
    font-weight: 500;
    line-height: 7.5pt;
    overflow: hidden;
}

.gLast {
    width: 21px;
    overflow: hidden;
    vertical-align: bottom;
}

.gm {
    font-size: 6pt;
    margin-top: -4px;
    margin-bottom: 2px;
}

.gd {
    line-height: 7.5pt;
    margin-bottom: 0;
    border-left: 1px solid rgba(0,0,0,.2);
    padding-left: 1px;
}

    .gd.gd1 {
        font-weight: bold;
    }

    .gd b {
        font-weight: normal;
        padding-right: 3px;
    }

    .gd i {
        font-style: normal;
    }

    .gd.dow6 {
        background-color: #efefef;
        border-left: 1px solid rgba(0,0,0,.6);
        /* saturday */
    }

    .gd.dow0 {
        background-color: #efefef;
    }

    .gd.selected {
        background-color: #77b55a;
        color: #fff;
    }

/*.gd.gAlt {
    border-top: 2px solid rgba(0,0,0,.1);
  }*/

.gma0 {
    color: rgba(0,0,255,.8);
}

.gma1 {
    color: rgba(0,0,255,.8);
    /*color: rgba(83, 205, 0, 0.9);*/
}

.hdHS, .hdHO {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(./star12c.gif);
    margin: -2px 1px 0 0;
    position: absolute;
    right: 1px;
    top: 1px;
}

.hdHO {
    background: url(star12b.gif);
}
